<!DOCTYPE html>
<html>
<head>
  <title>Carrito de Compras en Tiempo Real</title>
</head>
<body>
  <h1>Carrito de Compras</h1>
  <ul id="productList">
    {{#each products}}
      <li>
        <h1>{{this.title}}</h1>
        <h3>{{this.description}}</h3>
        <h3>{{this.category}}</h3>
        <img src="{{this.thumbnail}}" alt="imagen-de-producto">
        <h3>${{this.price}}</h3>
      </li>
    {{/each}}
  </ul>


<!-- Incluir el cliente de Socket.IO -->
<script src="/socket.io/socket.io.js"></script>

<!-- Aquí va el resto de tu código JavaScript para el cliente -->
<script src="/js/index.js"></script>

</body>
</html>